/* -------------------------------
			 IMPORTS
------------------------------- */

@import 'normalize';
@import 'reset';

/* -------------------------------
	  VARIABLES & SETTINGS
------------------------------- */

$content-max-width: 1240px;

$screen-lg: 1050px;
$screen-md: 860px;
$screen-sm: 480px;

$color-geraldine: #fa6f68;
$color-goldenrod: #ffce6f;
$color-flint: #84796b;
$color-eggplant: #754b71;
$color-roman: #e66167;
$color-softamber: #d6c8b6;

$color-royalpurple: #5a3686;


/* -----------------------------
		  BASE STYLES
----------------------------- */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

::-moz-selection {
	background: #4C4746;
	color: white;
	text-shadow: none;
}

::selection {
	background: #4C4746;
	color: white;
	text-shadow: none;
}

html { font-size: 62.5%; }

body {
	font: normal 2rem/1.5 Georgia, serif;
	background-color: #353430;
	// experimental
	// scroll-snap-points-y: repeat(100%);
	// scroll-snap-type: mandatory;
	// scroll-snap-destination: 100% 0%;

	@at-root 
	.wf-robotoslab-n3-active &,
	.no-js & {
		font: 300 2rem/1.5 'Roboto Slab', Georgia, serif;
	}

	@media only screen and (max-width: $screen-lg) {
		&,
		.wf-robotoslab-n3-active &,
		.no-js & {
			font-size: 1.8em;
		}
	}

	@media only screen and (max-width: $screen-sm) {
		&,
		.wf-robotoslab-n3-active &,
		.no-js & {
			font-size: 1.6em;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
	box-shadow: inset 0 -1px 0 0 #444;
}

a:hover, a:active, a:focus {
	box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.4);
	outline: none;
}

/* -----------------------------
		FRONTPAGE STYLES
----------------------------- */

.wrap {
	max-width: $content-max-width;
	padding: 20px;
	margin: 0 auto;
}

.main-header {
	position: relative;
	// Viewport units Chrome bug -- soon to be fixed (behind flag now)
	// https://bugs.chromium.org/p/chromium/issues/detail?id=428132
	height: 100vh;
	background: #efeee8 url('bg-retro.jpg') no-repeat 20% 85%;
	background-size: cover;

	@media only screen and (max-width: 1440px) and (max-height: 1080px) {
		background-image: url('bg-retro-w1440-h1080.jpg');
	}
	@media only screen and (max-width: 960px) and (max-height: 1280px) {
		background-image: url('bg-retro-h1280-w960.jpg');
	}

	@media only screen and (max-height: 450px) {
		height: 450px;
	}
}

.main-title {
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 4.6rem 6rem 3.8rem;

	font: bold 2.5em/1.2 Georgia, serif;

	@at-root 
	.wf-rye-n4-active &,
	.no-js & {
		font: 400 2.6em/1.2 'Rye', Georgia, serif;
	}

	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-align: center;

	color: #f5f5f5;
	background-color: #2e2d2c;

	.main-title__line-1,
	.main-title__line-2 {
		white-space: nowrap;
	}

	.main-title__line-2 {
		font-size: 2em;
		letter-spacing: 0.4rem;

		& > sup {
			font-size: 0.6em;
		}
	}

	@media only screen and (max-width: 900px) {
		padding: 4% 5.2% 3.2%;

		.main-title__line-1,
		.main-title__line-2 { 
			white-space: normal;
		}
	}
	@media only screen and (max-width: $screen-md) {
		&,
		.wf-rye-n4-active &,
		.no-js & {
			font-size: 2em;
		}
	}
	@media only screen and (max-width: $screen-sm) {
		&,
		.wf-rye-n4-active &,
		.no-js & {
			font-size: 1.5em;
		}
	}

	.kerningfix1 { letter-spacing: -0.03em; }
	.kerningfix2 { letter-spacing: 0.08em; }
}

.main-nav {
	// position: absolute;
	// top: 0;
	float: right;
	// right: 4em;
	margin-right: 6em;
	
	z-index: 11;

	@media only screen and (max-width: $screen-md) {
		float: none;
		text-align: center;
		margin-right: 0;
	}
}

.nav-link {
	display: inline-block;
	padding: 0.52em 1.2em;
	color: #444;
	background-color: $color-goldenrod;
	box-shadow: none;
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus { 
	box-shadow: none;
}

.nav-link:focus { 
	outline: 1px solid #f3b744;
}

.github-link {
	position: absolute;
	top: 0;
	right: 0;

	& svg {
		fill: #2e2d2c;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;

		&:hover,
		&:active,
		&:focus {
			fill: $color-royalpurple;
		}
	}
}

.footnote {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0.5em 0.7em;
	background-color: #2e2d2c;
	color: #f5f5f5;
	font-size: 0.8em;
	// text-transform: uppercase;
}

.section-heading-wrapper {
	// display: flex;
	// align-items: center;
	// justify-content: center;
}

.section-heading {
	height: 100vh;
	margin: 0;

	font: bold 8em Tahoma, Geneva, Arial, sans-serif;

	@at-root 
	.wf-monoton-n4-active &,
	.no-js & {
		font: 400 8em/100vh 'Monoton', Tahoma, Geneva, Arial, sans-serif;
	}

	line-height: 100vh;
	text-align: center;
	text-transform: uppercase;

	color: #a29487;
	// text-shadow: 0 0 3px #c9c5bc;
	// border: 6px solid #a29487;
	background: url('bg-section.jpg') repeat;

	@media only screen and (max-width: $screen-md) {
		&,
		.wf-monoton-n4-active &,
		.no-js & {
			font-size: 18vw;
		}
	}
}

.main-section {
	padding: 3em 0 5em;
	position: relative;


	.curveDown + & {
		margin-top: -100px;
		padding-top: 8em;
	}

	& + .curveDown {
		position: relative;
		z-index: 2;
		background-color: transparent;
	}

	&.main-section__type-1 {
		background-color: $color-geraldine;
		color: white;

		& + .curveDown { 
			fill: $color-geraldine; 
		}
		& + .curveDown .darkercurve {
			fill: desaturate(darken($color-geraldine, 9%), 30%);
		}
	}

	&.main-section__type-2 {
		background-color: $color-goldenrod;
		color: #444;

		& + .curveDown { 
			fill: $color-goldenrod; 
		}
		& + .curveDown .darkercurve {
			fill: desaturate(darken($color-goldenrod, 12%), 32%);
		}
	}

	&.main-section__type-3 {
		background-color: $color-flint;
		color: white;

		& + .curveDown { 
			fill: $color-flint; 
		}
		& + .curveDown .darkercurve {
			fill: desaturate(darken($color-flint, 10%), 5%);
		}
	}

	&.main-section__type-4 {
		background-color: $color-eggplant;
		color: white;

		& + .curveDown { 
			fill: $color-eggplant; 
		}
		& + .curveDown .darkercurve {
			fill: desaturate(darken($color-eggplant, 8%), 3%);
		}
	}
	&.main-section__type-5 {
		background-color: $color-softamber;
		color: #333;

		& + .curveDown { 
			fill: $color-softamber; 
		}
		& + .curveDown .darkercurve {
			fill: desaturate(darken($color-softamber, 10%), 5%);
		}
	}
	&.main-section__type-6 {
		background-color: $color-roman;
		color: white;

		& + .curveDown { 
			fill: $color-roman; 
		}
		& + .curveDown .darkercurve {
			fill: desaturate(darken($color-roman, 10%), 20%);
		}
	}
}

.project-heading {
	margin: 0;
	font: bold 3.4em/1.2 Tahoma, Geneva, Arial, sans-serif;
	text-align: center;
	color: inherit;

	@at-root 
	.wf-roboto-n3-active &,
	.no-js & {
		font: 900 3.6em/1.2 'Roboto', Tahoma, Geneva, Arial, sans-serif;
	}

	@media only screen and (max-width: $screen-sm) {
		.wf-roboto-n3-active &,
		.no-js & {
			font-size: 2.8em;
		}
	}
}

.project-desc {
	font: normal 0.9em/1.2 Tahoma, Geneva, Arial, sans-serif;

	@at-root 
	.wf-roboto-n3-active &,
	.no-js & {
		font: 300 0.9em/1.2 'Roboto', Tahoma, Geneva, Arial, sans-serif;
	}

	text-align: center;
	text-transform: uppercase;
	
	.main-section__type-1 & {
		color: lighten($color-geraldine, 16%);
	}
	.main-section__type-2 & {
		color: desaturate(darken($color-goldenrod, 20%), 50%);
	}
	.main-section__type-3 & {
		color: lighten($color-flint, 25%);
	}
	.main-section__type-4 & {
		color: lighten($color-eggplant, 35%);
	}
	.main-section__type-5 & {
		color: desaturate(darken($color-goldenrod, 18%), 80%);
	}
	.main-section__type-6 & {
		color: lighten($color-roman, 21%);
	}
}

.link-btn {
	display: inline-block;
	padding: 1rem 2.6rem;

	font-size: 1.8rem;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: white;
	background-color: #444;
	border-top: 4px solid #f5f5f5;
	box-shadow: 4px 4px 0px rgba(0,0,0,0.15);
	transition: all 0.2s ease;

	&:hover,
	&:active {
		background-color: #111;
		box-shadow: 6px 6px 0px rgba(0,0,0,0.3);
	}
}

.weblink {
	text-align: center;
	margin: 3rem 0 1rem;
}

/*	Facade - a lightweight browser window mockup
	based on the sleek design of Jacob SÃ¤wensten ( http://www.jacobsawensten.com/ ) */

.screenshots-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}


.facade-minimal
{
	position:  relative;
	margin:  24px 0;
	padding-top: 55px;
	box-shadow:  0px 5px 10px rgba(0,0,0,0.1);
	font-family: sans-serif;
	color:  #454545;
	border-radius:  3px;
	overflow: hidden;

	& img {
		width: auto;
		max-width: 100%;
	}
}

/*
	INLINE SVG
	Color can be changed inline (search for %23, which equals #)
*/

.facade-minimal:before
{
	content:  "";
	position:  absolute;
	display:  block;
	top:  -1px;
	left:  -1px;
	right:  -1px;
	height:  56px;
	border-bottom:  1px solid rgba(0,0,0,0.05);
	border-radius:  3px 3px 0px 0px;	background: url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" cx="8" cy="8" r="5"/></g></g></svg>') 16px 22px no-repeat,
			url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" cx="8" cy="8" r="5"/></g></g></svg>') 32px 22px no-repeat,  
			url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" cx="8" cy="8" r="5"/></g></g></svg>') 48px 22px no-repeat,  
			url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Menu_icon"><g><path fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" d="M1,1v3h14V1H1z M1,10h14V7H1V10z M1,16h14v-3H1V16z"/></g></g></svg>')  right 16px top 22px no-repeat,
			#e8e8e8;
}

.facade-minimal:after
{
	content:  attr(data-url);
	position:  absolute;
	padding:  2px 16px 0px 32px;
	top:  16px;
	height:  24px;
	left:  80px;
	right:  48px;
	border-radius:  3px;
	box-shadow:  inset 0 1px 1px -1px rgba(0,0,0,0.5);
	font-size:  12px;
	line-height:  24px;
	white-space:  nowrap;
	overflow:  hidden;
	text-overflow:  ellipsis;
	direction:  rtl;
	text-align:  left;
	background: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Refresh_icon_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="minimal-browser-refresh"><g><path fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" d="M12.5,10.9l2.5-3h-1.7C13.2,4.6,10.7,2,7.7,2C4.5,2,2,4.7,2,8c0,3.3,2.5,6,5.7,6c1.3,0,2.5-0.5,3.5-1.3l-1-1.1c-0.7,0.5-1.6,0.9-2.5,0.9c-2.3,0-4.2-2-4.2-4.5s1.9-4.5,4.2-4.5c2.3,0,4.2,1.9,4.2,4.4h-2L12.5,10.9z"/></g></g></svg>') 8px 6px no-repeat,
				#FFFFFF;
}

// Lazy loading classes

.no-js .b-lazy {
	display: none;
}

.b-lazy {
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
}

.b-lazy.b-loaded {
	opacity: 1;
}


/* ------ Dialog ------ */


.dialog[aria-hidden="true"] {
	// Setting "visibility:hidden" on a parent element sets the same to all children
	visibility: hidden;

	.no-js & {
		visibility: visible;
	}
}

.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.66);
	transition: opacity 0.25s ease-in-out;

	.dialog[aria-hidden="true"] & {
		opacity: 0;
		transition: opacity 0.25s ease-in-out,
					visibility 0s ease-in-out 0.25s;
	}

	.no-js & {
		display: none;
	}
}

.dialog-content {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	// The visibility transition needs to complete in 0s, 
	// otherwise focus()-ing on elements inside doesn't work
	transition: visibility 0s ease-in-out,
				transform 0.2s ease-in-out;

	.dialog[aria-hidden="true"] & {
		transform: translateY(-100%);
		// The closing animation has a delay on visibility 
		// so that the transform has time to play out
		transition: transform 0.2s ease-in-out, 
					visibility 0s ease-in-out 0.2s;
	}

	.no-js & { 
		position: static; 
	}

	.no-js .dialog[aria-hidden="true"] & {
		transform: none;
		transition: none;
	}
}

.dialog-close {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	border: none;
	background-color: #333;
	color: white;
	font-size: 3em;
	padding: 0.5rem 4rem 1rem;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-royalpurple;
		outline: none;
	}

	@media only screen and (max-width: $screen-md) {
		top: auto;
	}

	.no-js & {
		display: none;
	}
}

.about-dialog {
	// padding: 3em 5em;
	background-color: $color-geraldine;
}

.about-box {
	background-color: $color-goldenrod;
}

.contact-box {
	// color: white;
	background-color: $color-geraldine;
}

.grid-row {
	clear: both;
	overflow: auto;
}

.grid-half {
	float: left;
	width: 50%;
	padding: 3em 10% 4em;

	@media only screen and (max-width: $screen-md) {
		float: none;
		width: 100%;
		.dialog-close + & {
			padding-top: 4em;
		}
	}
}

.u-nowrap { white-space: nowrap; }


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ================
   Print styles.
   ================ */

@import 'print';
